menus
nitrogen
gtk*
google-crhome
evolution
dconf
GNOME-xdg*
**/*.swp
gnome-initial-setup-done
mimeapps.list
monitors.xml
pulse/
tiling-assistant
ubuntu-xdg-terminals.list
google-chrome/
monitors.xml
pulse/
solaar/
tiling-assistant/
ubuntu-xdg-terminals.list
user-dirs.dirs
user-dirs.locale
xbindkeys_commands/
xdg-terminals.list
**/*.jpg
